# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/

# Node
node_modules/

# Next.js
.next/
*.tsbuildinfo
out/

.vercel

.vercel

# Environment / secrets
.env
.env.local
.env*.local

# Database files
*.db
*.db-journal

# Personal files
"text story"
"images/hero - Kopie.jpg"
Avadon_The_Broken_Sigils_Story.pdf

/lib/generated/prisma
